.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    clear: both
}

html {
    background-color: #EBE5E7;
    display: flex;
    justify-content: center;
}

body {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75) inset;
    /* -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.75) inset; */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 160px 0 100px 0;

}

section#items li {
    -webkit-box-shadow: 5px 6px 13px -7px rgba(70, 97, 40, 1);
    -moz-box-shadow: 5px 6px 13px -7px rgba(70, 97, 40, 1);
    box-shadow: 5px 6px 13px -7px rgba(70, 97, 40, 1);
    background: #A6FCA6;
    float: left;
    margin: 0 0 5px 5px;
    display: block;
    width: 215px;
    height: 215px;
    position: relative;
    border-radius: 10px
}

section#items li div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px
}

section#items li p {
    text-align: center;
    width: 90%;
    /* font-weight: bold; */
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

section#items li h2 {
    z-index: 1;
    font-size: 18px;
    text-align: center;
    color: #3DD811;
    font-size: 36px bold;
    line-height: 1.5;
    padding: 5px 5px 0px 5px
}

section#items li p {
    color: #8d8d8d;
    font-size: 14px;
    line-height: 1.7;
}

section#items li img {
    position: absolute;
    left: 1px;
    top: 1px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

section#items li:hover img {
    left: -215px;
}

h1 {
    text-align: center;
    color: #5C6B80;
}

section#items li div .overlay-span {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 100%;
    height: 100px;
    z-index: 2;
    color: #5C6B80;
    font-size: 0.3em;
}

section#items li div .overlay-span-large {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 100%;
    height: 100px;
    z-index: 2;
    color: #5C6B80;
    font-size: 0.3em;
}

section#items li div .overlay-i {
    padding-top: 15px;
    padding-left: 5px;
    font-size: 4.6em;
    z-index: 3;
    color: white;
    height: 100px;
}